In [136]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

### Q10: Produce a list of facilities with a total revenue less than 1000.
         The output of facility name and total revenue sorted by revenue.
         Remember that there is a different cost for guests and members!

In [137]:
def Q10_task (conn):
    """
    Query to answer Question 10 of the Case Study
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        WITH f_rev_list AS (
        SELECT f.name,
            CASE WHEN b.memid=0 THEN b.slots*f.guestcost
                 WHEN b.memid!=0 THEN b.slots*f.membercost
                 END AS f_revenue
        FROM BOOKINGS AS b
        LEFT JOIN FACILITIES AS f
        ON b.facid = f.facid)
        
        SELECT f_rev_list.name, SUM(f_revenue)
        FROM f_rev_list
        GROUP BY f_rev_list.name
        HAVING SUM(f_revenue) < 1000
        ORDER BY f_revenue;
        """
    cur.execute(query1)
    rows = cur.fetchall()
    for row in rows:
        print(row)

def Q10_execute ():
    database = "sqlite_db_pythonsqlite.db"
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Question 10 Query")
        print("b.id|b.facid|f.Name|f_revenue ")
        Q10_task(conn)
        
Q10_execute()

2.6.0
Question 10 Query
b.id|b.facid|f.Name|f_revenue
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

### Q11: Produce a report of members and who recommended them in alphabetic surname, firstname order

In [149]:
'The outcome of this query excludes members, who were not referred by anyone'

def Q11_task (conn):
    """
    Query to answer Question 11 of the Case Study
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT
            (m1.surname || ' ' || m1.firstname) AS Member_Name,
            (m2.surname || ' ' || m2.firstname) AS Recommended_By_Name
        FROM
            MEMBERS AS m1, MEMBERS AS m2
        WHERE
            m1.recommendedby = m2.memid
        ORDER BY Member_Name, Recommended_By_Name
        """
    cur.execute(query1)
    rows = cur.fetchall()
    for row in rows:
        print(row)

def Q11_execute ():
    database = "sqlite_db_pythonsqlite.db"
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Question 11 Query")
        Q11_task(conn)
        
Q11_execute()

2.6.0
Question 11 Query
('Bader Florence', 'Stibbons Ponder')
('Baker Anne', 'Stibbons Ponder')
('Baker Timothy', 'Farrell Jemima')
('Boothe Tim', 'Rownam Tim')
('Butters Gerald', 'Smith Darren')
('Coplin Joan', 'Baker Timothy')
('Crumpet Erica', 'Smith Tracy')
('Dare Nancy', 'Joplette Janice')
('Genting Matthew', 'Butters Gerald')
('Hunt John', 'Purview Millicent')
('Jones David', 'Joplette Janice')
('Jones Douglas', 'Jones David')
('Joplette Janice', 'Smith Darren')
('Mackenzie Anna', 'Smith Darren')
('Owen Charles', 'Smith Darren')
('Pinker David', 'Farrell Jemima')
('Purview Millicent', 'Smith Tracy')
('Rumney Henrietta', 'Genting Matthew')
('Sarwin Ramnaresh', 'Bader Florence')
('Smith Jack', 'Smith Darren')
('Stibbons Ponder', 'Tracy Burton')
('Worthington-Smyth Henry', 'Smith Tracy')

### Q12: Find the facilities with their usage by member, but not guests

In [150]:
def Q12_task (conn):
    """
    Query to answer Question 12 of the Case Study
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT b.facid, f.name,
            COUNT(CASE WHEN b.memid!=0 THEN 0 END) AS Member_Usage
        FROM Bookings AS b
        LEFT JOIN Facilities AS f
        ON b.facid = f.facid
        GROUP BY b.facid
        """
    cur.execute(query1)
    rows = cur.fetchall()
    for row in rows:
        print(row)

def Q12_execute ():
    database = "sqlite_db_pythonsqlite.db"
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Question 12 Query")
        Q12_task(conn)
        
Q12_execute()

2.6.0
Question 12 Query
(0, 'Tennis Court 1', 308)
(1, 'Tennis Court 2', 276)
(2, 'Badminton Court', 344)
(3, 'Table Tennis', 385)
(4, 'Massage Room 1', 421)
(5, 'Massage Room 2', 27)
(6, 'Squash Court', 195)
(7, 'Snooker Table', 421)
(8, 'Pool Table', 783)