## Capstone II Project - Unit 7.6 Data Wrangling

## Contents<a id='Contents'></a>
* [1. Data Sourcing and Loading](#1_Data_Sourcing_and_Loading)
  * [1.1 Importing Libraries](#1.1_Importing_Libraries_and_functions)
  * [1.2. Loading Data](#1.2_Loading_Data)
    * [1.2.1 Loading Crude Oil Pricing Data](#1.2.1_Crude_Oil_Pricing)
    * [1.2.2 Loading Crude Acquisition Cost by Refineries Data for 2013-2020](#1.2.2_Crude_Acquisition_Cost)
    * [1.2.3 Loading Volumes_by_PAD for 2013-2020](#1.2.3_PAD_Product_Volumes)
    * [1.2.4 Loading Refinery_Details](#1.2.4_Refineries_Details)
    * [1.2.5 Loading Crude_API_by_PAD](#1.2.5_PAD_Crude_API)
    * [1.2.6 Loading US_Census_Data](#1.2.6_US_Census_Data)
* [2. Data Exploring](#2_Data_Exploring)
  * [2.1 Audintg Data](#2.1_Audintg_Data)
    * [2.1.1 Auditing WTI and Brent Price Index Data](#2.1.1_Audit_WTI_and_Brent_Data)
    * [2.1.2 Auditing Crude Acquisition Cost Data ](#2.1.2_Audit_Refinery_Crude_Cost_Data)
    * [2.1.3 Audit Petroleum Product Volume Data](#2.1.3_Audit_Product_Volume_Data)
    * [2.1.4A Audit U.S. Refinery Profiles Data](#2.1.4A_Audit_Refinery_ProfilesData)
    * [2.1.4B Audit US Refining Capacities by Process Types and PAD districts](#2.1.4B_Audit_Refinery_Capacity_Data)
    * [2.1.4C Audit US Distance from US Refineries to cities with population > 300K](#2.1.4C_Audit_Refinery_to_Cities_Distances_Data)
    * [2.1.5 Audit Crude API data grouped by PAD districts](#2.1.5_Audit_Crude_API_Data)
    * [2.1.6A Audit Population data, grouped by PAD districts, states, and cities:](#2.1.6A_Audit_Population_Data)
  * [2.2 Merging Data](#2.2_Merging_Data)
    * [2.2.1 Merging WTI and Brent pricing data time series into one dataframe](#2.2.1_Merging_WTI_Brent_Time_Series)
  * [2.3 Cleaning The Data](#2.3_Cleaning_Data)
    * [2.3.1 Cleaning WTI and Brent Crude Pricing Data](#2.3.1_Cleaning_Crude_Pricing_Data)
    * [2.3.2 Cleaning the data on Refineries' Crude Acquisition Costs by PAD](#2.3.2_Cleaning_Reiners_Crude_Cost_Data)
    * [2.3.3 Cleaning the data on Petroleum Product Volume by PAD](#2.3.3_Cleaning_Product_Volume_Data)
    * [2.3.4 Cleaning the U.S. Refinery Profiles Data](#2.3.4_Cleaning_Refinery_Profiles_Data)
    * [2.3.5 Cleaning Crude API data](#2.3.5_Cleaning_Crude_API_Data)
    * [2.3.6 Cleaning Cities Population data](#2.3.6_Cleaning_Population_Data)
  * [2.4 Handling_Missing_Values](#2.4_Handling_Missing_Data)
    * [2.4.1 Check if there are any zero or NaN values in the crude price data](#2.4.1_Missing_Values_Crude_Pricing_Data)  
  * [2.5 Categorical Features](#2.5_Categorial_Features)
    * [2.5.1 WTI and Brent Categories](#2.5.1_WTI_and_Brent_Categories)
    * [2.5.2 Crude Acquisition Cost Categories](#2.5.2_Refinery_Crude_Cost_Categories)
    * [2.5.3 Petroleum Product Volume Categories](#2.5.3_Audit_Product_Volume_Categories)
    * [2.5.4A US Refinery Profiles Categories](#2.5.4A_Refinery_Profiles_Categories)
    * [2.5.4B US Refining Capacity Categories](#2.5.4B_Refinery_Capacity_Categories)
    * [2.5.4C Refinery to City Distances by PAD](#2.5.4C_Refinery_to_City_Distances_by_PAD)
    * [2.5.5 Crude API Categories](#2.5.5_Audit_Crude_API_Categories)
    * [2.5.6A Population Data Categories](#2.5.6A_Population_Data_Categories)
  * [2.6 Numeric Features](#2.6_Numeric_Features)
    * [2.6.4B US Refining Capacities](#2.6.4B_Refinery_Capacities)
  * [3. Review Distributions](#3_Review_Distributions)
  * [4. Target Features](#4_Target_Features)
  * [5. Saving_Data_and_Summary](#5_Saving_Data_and_Summary)

## 1. Data Sourcing and Loading<a id='1_Data_Sourcing_and_Loading'></a>

### 1.1 Importing Libraries<a id='1.1_Importing_Libraries_and_functions'></a>

In [1]:
# importing pandas and numpy libraries, matplotlab functions
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

### 1.2 Loading Data<a id='1.2_Loading_Data'></a>
Let's start loading up some data.

#### 1.2.1 Loading Crude Oil Pricing data<a id='1.2.1_Crude_Oil_Pricing'></a>
* WTI and Brent price indicies for period 2013-2020

Source: EIA.gov website

In [2]:
# load the Excel file with the crude oil pricing - West Texas Intermediate (WTI):
WTI = pd.read_excel('../data/121A_WTI_prices_2013_2020.xlsx', header=0)

# load the Excel file with the crude oil pricing - Brent European (Brent):
Brent = pd.read_excel('../data/121B_Brent_prices_2013_2020.xlsx', header=0)

In [ ]:
WTI.info(), Brent.info()

In [ ]:
WTI.head(), Brent.tail()

#### 1.2.2 Loading Crude Acquisition Cost by Refineries Data for 2013-2020<a id='1.2.2_Crude_Acquisition_Cost'></a>
Source: EIA.gov website

In [3]:
# load Excel file with the crude oil acquisition costs by refineries - US Domesitc crude:
crude_us = pd.read_excel('../data/122A_US_crude_acq_cost_2013_2020.xlsx', header=0)

# load Excel file with the crude oil acquisition costs by refineries - Imported crude:
crude_imported = pd.read_excel('../data/122B_Import_crude_acq_cost_2013_2020.xlsx', header=0)

In [ ]:
crude_us.info(), crude_imported.info()

#### 1.2.3 Loading Volumes by PAD for 2013-2020<a id='1.2.3_PAD_Product_Volumes'></a>

The source Excel file contains 2013-2020 product pricing time serires, aggregated by 2 Level territorieal groups: 1 - US, 2 - PAD district; the groups are presented in 6 Excel worksheets:
Sheet 1 is for US, Sheets 2-6 are for PAD-1 through PAD-5
* Let's load them into 6 separate dataframes:

In [4]:
# load Excel worksheet with Refinery Sale Prices for Refined Products at the US level:
prod_US_raw = pd.read_excel('../data/123_Prod_Prices_by_PAD_Jan2013_Feb2021.xlsx', sheet_name='US', header=0)

In [5]:
# load Excel file with Refinery Sale Prices for Refined Products by PAD-1:
prod_PAD_1_raw = pd.read_excel('../data/123_Prod_Prices_by_PAD_Jan2013_Feb2021.xlsx', sheet_name='PAD-1', header=0)

In [6]:
# load Excel file with Refinery Sale Prices for Refined Products by PAD-2:
prod_PAD_2_raw = pd.read_excel('../data/123_Prod_Prices_by_PAD_Jan2013_Feb2021.xlsx', sheet_name='PAD-2', header=0)

In [7]:
# load Excel file with Refinery Sale Prices for Refined Products by PAD-3:
prod_PAD_3_raw = pd.read_excel('../data/123_Prod_Prices_by_PAD_Jan2013_Feb2021.xlsx', sheet_name='PAD-3', header=0)

In [8]:
# load Excel file with Refinery Sale Prices for Refined Products by PAD-4:
prod_PAD_4_raw = pd.read_excel('../data/123_Prod_Prices_by_PAD_Jan2013_Feb2021.xlsx', sheet_name='PAD-4', header=0)

In [9]:
# load Excel file with Refinery Sale Prices for Refined Products by PAD-5:
prod_PAD_5_raw = pd.read_excel('../data/123_Prod_Prices_by_PAD_Jan2013_Feb2021.xlsx', sheet_name='PAD-5', header=0)

#### 1.2.4 Loading Refinery_Details<a id='1.2.4_Refineries_Details'></a>

In [117]:
# Load a List of U.S. Refineries by Capacities, Location, and PAD
Refineries_List = pd.read_excel('../data/124A_Refineries_List.xlsx', header=0)

In [118]:
# Load Refinery Processing Capacities by Type and PAD as of 2020
Refinery_Cap_ByType = pd.read_excel('../data/124B_Refinery_Cap_ByTypes_ByPAD_2020.xlsx', header=0)

In [123]:
# Load Data on distances between Refineries and cities with > 300K in population:
Refinery_City300K_Distances = pd.read_excel('../data/124C_Refinery_MajorCity_Distance.xlsx', header=0)

#### 1.2.5 Loading Crude_API_by_PAD<a id='1.2.5_PAD_Crude_API'></a>

In [41]:
# Load data on Crude API by PADs
API_by_PAD_raw = pd.read_excel('../data/125_Crude_API_by_PAD_Jan2013_Nov2020.xlsx', header=0)

In [43]:
API_by_PAD_raw.head(3)

,Date,U.S. API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),East Coast (PADD 1) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),East Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Appalachian No. 1 Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Midwest (PADD 2) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),"Indiana, Illinois, Kentucky Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)","Minnesota, Wisconsin, North and South Dakota Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)","Oklahoma, Kansas, Missouri Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)",Gulf Coast (PADD 3) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Texas Inland Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Texas Gulf Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Louisiana Gulf Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),"North Louisiana, Arkansas Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)",New Mexico Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Rocky Mountains (PADD 4) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),West Coast (PADD 5) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)
0,Date,USA,PAD-1,PAD-1-1,PAD-1-2,PAD-2,PAD-2-1,PAD-2-2,PAD-2-3,PAD-3,PAD-3-1,PAD-3-2,PAD-3-3,PAD-3-4,PAD-3-5,PAD-4,PAD-5
1,2013-01-15 00:00:00,30.75,33.99,34.21,31.62,32.79,32.31,28.68,36.58,30.33,36.65,29.34,29.88,30.69,39.13,32.7,27.24
2,2013-02-15 00:00:00,30.58,33.07,33.22,31.79,32.5,31.79,28.63,37.01,30.46,35.23,29.44,30.45,31.6,39.25,33.19,26.7

#### 1.2.6 Loading US_Census_Data<a id='1.2.6_US_Census_Data'></a>

In [106]:
# Load Excel file with US Cities ranked by population for period Apr 2010-Jul 2019:
Pop_by_Cities_raw = pd.read_excel('../data/126A_Population_by_City_Apr_2010_Jul_2019.xlsx', header=0)

In [17]:
# Get population by state table from the URL below
states_url = 'https://simple.wikipedia.org/w/index.php?title=List_of_U.S._states&oldid=7168473'
usa_states = pd.read_html(states_url)

## 2. Data Exploring<a id='2_Data_Exploring'></a>

### 2.1 Auditing Data <a id='2.1_Audintg_Data'></a>

#### 2.1.1 Auditing WTI and Brent Price Index Data <a id='2.1.1_Audit_WTI_and_Brent_Data'></a>

##### Verify that the 'Date' columns in both the WTI and Brent dataframes match:

In [18]:
WTI['Date'].isin(Brent['Date']).value_counts()

True    96
Name: Date, dtype: int64

* There are 96 non-NULL records in both files; merge them into one dataframe

#### 2.1.2 Auditing Crude Acquisition Cost Data <a id='2.1.2_Audit_Refinery_Crude_Cost_Data'></a>

##### Verify that the 'Date' columns in both the Domestic Crude and Imported Crude dataframes match:

In [19]:
crude_us['Date'].isin(crude_imported['Date']).value_counts()

True    96
Name: Date, dtype: int64

* Merge Domestic and Imported Crude data into one data frame on the 'Date' column

#### 2.1.3 Audit Petroleum Product Pricing Data<a id='2.1.3_Audit_Product_Pricing_Data'></a>

In [ ]:
prod_US_raw.head()

In [ ]:
prod_US_raw.describe()

#### 2.1.4A Audit U.S. Refinery Profiles Data<a id='2.1.4A_Audit_Refinery_ProfilesData'></a>

In [ ]:
# We will start with the List of U.S. Refineries
Refineries_List.info()

* No missing values, 'Status' represents whether refinery is operating or closed, capacity is numeric data

In [ ]:
Refineries_List.head().T

* The Refinery List data looks good - it's categorized by PAD code and includes operating capacities

#### 2.1.4B Audit US Refining Capacities by Process Types and PAD districts<a id='2.1.4B_Audit_Refinery_Capacity_Data'></a>

In [120]:
# Next, let's look at the process types and capacities of the U.S. refineries, grouped by PAD
Refinery_Cap_ByType.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rec_ID         460 non-null    int64
 1   ID             460 non-null    object
 2   Description    460 non-null    object
 3   Type_Code      460 non-null    object
 4   US             460 non-null    object
 5   PADD           460 non-null    object
 6   State          460 non-null    object
 7   Date           460 non-null    datetime64[ns]
 8   Year           460 non-null    int64
 9   Op_Cap_BPSD    414 non-null    float64
 10  Idle_Cap_BPSD  46 non-null     float64
 11  Cap_BPSD       46 non-null     float64
 12  Cap_BPCD       230 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 46.8+ KB

There are more categorical data rows than the numeric ones. Let's further investigate

In [121]:
np.count_nonzero(Refinery_Cap_ByType.isna())

1104

* There are a lot of null values

In [122]:
Refinery_Cap_ByType.head().T

,0,1,2,3,4
Rec_ID,1,2,3,4,5
ID,ATMDIST-0001,ATMDIST-0002,ATMDIST-0003,ATMDIST-0004,ATMDIST-0005
Description,Annual Operable Atmospheric Crude Oil Distilla...,Annual Operable Atmospheric Crude Oil Distilla...,Annual Operable Atmospheric Crude Oil Distilla...,Annual Operable Atmospheric Crude Oil Distilla...,Annual Operable Atmospheric Crude Oil Distilla...
Type_Code,ATMDIST,ATMDIST,ATMDIST,ATMDIST,ATMDIST
US,US,US,US,US,US
PADD,US,PAD-1,PAD-1,PAD-1,PAD-1
State,US,PAD-1,Delaware,Florida,Georgia
Date,2020-06-30 00:00:00,2020-06-30 00:00:00,2020-06-30 00:00:00,2020-06-30 00:00:00,2020-06-30 00:00:00
Year,2020,2020,2020,2020,2020
Op_Cap_BPSD,1.96342e+07,941100,190200,0,0
Idle_Cap_BPSD,458000,350000,0,0,0
Cap_BPSD,2.00922e+07,1.2911e+06,190200,0,0
Cap_BPCD,1.89761e+07,1.224e+06,182200,0,0

##### The data is aggregated by Country (US), PAD district, and state:
* we will have to separate the numeric data by corresponding categories as needed

In [21]:
Refinery_Cap_ByType["Type_Code"].value_counts()

CATHYDTRMT      46
VACMDIST        46
CATLYTCRCK      46
COKING          46
CATCRKRECYL     46
CATHYDRCRCK     46
ATMDIST         46
THERMCRCK       46
CATLREFORM      46
FUELSOLDEASP    46
Name: Type_Code, dtype: int64

In [ ]:
Refinery_Cap_ByType["US"].value_counts()

In [ ]:
Refinery_Cap_ByType["PADD"].value_counts()

In [ ]:
np.count_nonzero(Refinery_Cap_ByType["PADD"].value_counts())

In [ ]:
np.count_nonzero(Refinery_Cap_ByType["State"].value_counts())

* we find that the table includes 10 process types (will use it as one of data categories)
* each row is represented by 46 location categories: 5 'PADD' and 41 'State' columns
* our interest in numeric data is Operating capacities, presented in 'BPSD' units - it seems that for some process types some data is missing, so we will need to replace it with data deriving from the 'BPCD' alternatives (BPSD - "barrels per streaming day", BPCD = "barrels per calendar day"

#### 2.1.4C Audit US Distance from US Refineries to cities with population > 300K<a id='2.1.4C_Audit_Refinery_to_Cities_Distances_Data'></a>

In [124]:
Refinery_City300K_Distances.shape

(135, 137)

* This table was composed using the list of U.S. refineries from EIA.gov
  and cities with population > 300K, sourced from  the U.S. Census website;
  However, when by calculating distances between the two, using Google APIs, we
  hit the daily quota of 'free inquiries' and the table is left incomplete - it would take weeks to complete
  further calculations at this rate. Thus, unless we find another way, we will limit the number
  of cross-references from 66 cities (per 132 refineries) to a lower count, or higher population criteria

In [125]:
# Distances between refineries and cities with population > 300K in the U.S.
Refinery_City300K_Distances.head()

,Refi_ID,Refinery_City,Major City,"New York, New York","New York, New York Distance","Los Angeles, California","Los Angeles, California Distance","Chicago, Illinois","Chicago, Illinois Distance","Houston, Texas",...,"Stockton, California","Stockton, California.1","Saint Paul, Minnesota","Saint Paul, Minnesota.1","Cincinnati, Ohio","Cincinnati, Ohio.1","St. Louis, Missouri","St. Louis, Missouri.1","Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania.1"
0,1.0,"Saraland, Alabama","New York, New York","New York, New York","1,181 mi","Los Angeles, California","2,021 mi","Chicago, Illinois",906 mi,"Houston, Texas",...,"Stockton, California",NaN,"Saint Paul, Minnesota",NaN,"Cincinnati, Ohio",NaN,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN
1,2.0,"Tuscaloosa, Alabama","Los Angeles, California","New York, New York","1,020 mi","Los Angeles, California","2,021 mi","Chicago, Illinois",716 mi,"Houston, Texas",...,"Stockton, California",NaN,"Saint Paul, Minnesota",NaN,"Cincinnati, Ohio",NaN,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN
2,3.0,"Atmore, Alabama","Chicago, Illinois","New York, New York","1,143 mi","Los Angeles, California","2,061 mi","Chicago, Illinois",869 mi,"Houston, Texas",...,"Stockton, California",NaN,"Saint Paul, Minnesota",NaN,"Cincinnati, Ohio",NaN,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN
3,4.0,"Kenai, Alaska","Houston, Texas","New York, New York","4,520 mi","Los Angeles, California","3,552 mi","Chicago, Illinois","3,732 mi","Houston, Texas",...,"Stockton, California",NaN,"Saint Paul, Minnesota",NaN,"Cincinnati, Ohio",NaN,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN
4,5.0,"Valdez, Alaska","Phoenix, Arizona","New York, New York","4,299 mi","Los Angeles, California","3,331 mi","Chicago, Illinois","3,511 mi","Houston, Texas",...,"Stockton, California",NaN,"Saint Paul, Minnesota",NaN,"Cincinnati, Ohio",NaN,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN

In [146]:
Refinery_City300K_Distances.iloc[0:5,-4:]

,"St. Louis, Missouri","St. Louis, Missouri.1","Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania.1"
0,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN
1,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN
2,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN
3,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN
4,"St. Louis, Missouri",NaN,"Pittsburgh, Pennsylvania",NaN

#### 2.1.5 Audit Crude API data grouped by PAD districts<a id='2.1.5_Audit_Crude_API_Data'></a>

This dataset groups the crude oil types that U.S. refineries use as feedstock to produce petroleum products. We will concentrate on the API of the various crudes to link the quality features of specific type of feedstock refineries use, based on their design and processing type capacites. Put simply, different APIs on the input result in different type of products on the output.

In [44]:
# Audit Crude API data grouped by PAD districts:
API_by_PAD_raw.head(2)

,Date,U.S. API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),East Coast (PADD 1) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),East Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Appalachian No. 1 Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Midwest (PADD 2) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),"Indiana, Illinois, Kentucky Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)","Minnesota, Wisconsin, North and South Dakota Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)","Oklahoma, Kansas, Missouri Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)",Gulf Coast (PADD 3) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Texas Inland Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Texas Gulf Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Louisiana Gulf Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),"North Louisiana, Arkansas Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)",New Mexico Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Rocky Mountains (PADD 4) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),West Coast (PADD 5) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)
0,Date,USA,PAD-1,PAD-1-1,PAD-1-2,PAD-2,PAD-2-1,PAD-2-2,PAD-2-3,PAD-3,PAD-3-1,PAD-3-2,PAD-3-3,PAD-3-4,PAD-3-5,PAD-4,PAD-5
1,2013-01-15 00:00:00,30.75,33.99,34.21,31.62,32.79,32.31,28.68,36.58,30.33,36.65,29.34,29.88,30.69,39.13,32.7,27.24

* OK, a lot going on here it looks like; first off, the long text headings in the first row
will need to go; we will leave the second row with the PAD codes and make it the columns names
* However, there are more complications here: the district lables here include aggregate values, such as 'U.S' and 'PADD #', as well as the lower level detail, i.e. States
* We are just interested in the PAD groupings, but at this point it's difficulat to say, whether having a further drilled down level, indicating the States would come handy; hence, we will add a secondary heading labels for the PAD and State for further maniuplation down the road as necessary

#### 2.1.6A Audit Population data, grouped by PAD districts, states, and cities<a id='2.1.6A_Audit_Population_Data'></a>

In [113]:
# Audit the U.S. Cities Population Ranking:
Pop_by_Cities_raw.head(3)

,Rank,Geographic_Area,State,City,City_State,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1,"New York city, New York",New York,New York,"New York, New York",8190209,8272948,8346693,8396091,8433806,8463049,8469153,8437478,8390081,8336817
1,2,"Los Angeles city, California",California,Los Angeles,"Los Angeles, California",3795512,3820876,3851202,3881622,3909901,3938568,3963226,3975788,3977596,3979576
2,3,"Chicago city, Illinois",Illinois,Chicago,"Chicago, Illinois",2697477,2708114,2719141,2725731,2727066,2724344,2716723,2711069,2701423,2693976

In [112]:
Pop_by_Cities_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 788 entries, 0 to 787
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             788 non-null    int64
 1   Geographic_Area  788 non-null    object
 2   State            788 non-null    object
 3   City             788 non-null    object
 4   City_State       788 non-null    object
 5   2010             788 non-null    int64
 6   2011             788 non-null    int64
 7   2012             788 non-null    int64
 8   2013             788 non-null    int64
 9   2014             788 non-null    int64
 10  2015             788 non-null    int64
 11  2016             788 non-null    int64
 12  2017             788 non-null    int64
 13  2018             788 non-null    int64
 14  2019             788 non-null    int64
dtypes: int64(11), object(4)
memory usage: 92.5+ KB

* All looks good here; we will be adding PAD district labels later

### 2.2 Merging Data<a id='2.2_Merging_Data'></a>

### 2.2.1 Merging WTI and Brent pricing data time series into one dataframe <a id='2.2.1_Merging_WTI_Brent_Time_Series'></a>

In [22]:
WTI_Brent = pd.merge(WTI, Brent, how='outer', on='Date')

In [23]:
WTI_Brent.columns = ['Date', 'WTI', 'Brent']

In [ ]:
WTI_Brent.head(2)

### 2.2.2 Merging Domesitc and Imported Crude data into one dataframe <a id='2.2.2_Merging_WTI_Brent_Time_Series'></a>

In [24]:
crude_cost = pd.merge(crude_us, crude_imported, how='outer', on='Date')

In [ ]:
crude_cost.head()

### 2.3 Cleaning The Data <a id='2.3_Cleaning_Data'></a>

#### 2.3.1 Cleaning WTI and Brent Crude Pricing Data <a id='2.3.1_Cleaning_Crude_Pricing_Data'></a>

In [ ]:
WTI_Brent.head(2)

* WTI and Brent merged dataframe looks good; no further cleaning is required here

#### 2.3.2 Cleaning the data on Refineries' Crude Acquisition Costs by PAD<a id='2.3.2_Cleaning_Reiners_Crude_Cost_Data'></a>

In [ ]:
crude_cost.info()

In [ ]:
crude_cost.head()

* Yep, let's cleaning the column headings and replace them with sensible PAD codes

In [25]:
# Rename the long column headings with PAD Codes:
crude_cost.columns = ['Date', 'US Total', 'US PADD-1', 'US PADD-2', 'US PADD-3', 'US PADD-4', 'US PADD-5', 'Import Total',
              'Imp PADD-1', 'Imp PADD-2', 'Imp PADD-3', 'Imp PADD-4', 'Imp PADD-5']

In [ ]:
crude_cost.head()

#### 2.3.3 Cleaning the data on Petroleum Product Pricing by PAD<a id='2.3.3_Cleaning_Product_Pricing_Data'></a>

Initial audit of Product Pricing Data revealed a messy two-row column headings; let's clean these up
* we will start with the 'US' level data

In [ ]:
prod_US_raw.head(3)

In [26]:
# The table with petroleum product prices has a two-row column headings.
# We don't need the long text heading - the second coded heading is the useful one
prod_US = prod_US_raw
prod_US.reset_index()
prod_US.columns = prod_US.iloc[0]
prod_US.head(3)

,Date,GSL-ALL,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,...,GSL-ADJ,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
0,Date,GSL-ALL,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,...,GSL-ADJ,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
1,2013-01-04 00:00:00,8385,8204,2586,2586,0,5618,4499,4498,1,...,181,1511,1374,137,4920,4474,116,331,425,1339
2,2013-01-11 00:00:00,8590,8591,2808,2808,0,5784,4935,4934,1,...,-1,1517,1376,141,4564,4142,84,338,415,1292

In [27]:
# Removing the long text heading and replacing it the coded row
prod_US = prod_US.drop(0)
prod_US.head(2)

,Date,GSL-ALL,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,...,GSL-ADJ,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
1,2013-01-04 00:00:00,8385,8204,2586,2586,0,5618,4499,4498,1,...,181,1511,1374,137,4920,4474,116,331,425,1339
2,2013-01-11 00:00:00,8590,8591,2808,2808,0,5784,4935,4934,1,...,-1,1517,1376,141,4564,4142,84,338,415,1292

* Repeat the same to 5 PAD distric datasets: PAD-1, PAD-2, PAD-3, PAD-4, and PAD-5:

In [28]:
# Removing the top row with long text heading from the two-row column heading
# Replacing it with the second row and making it column name
prod_PAD_1 = prod_PAD_1_raw
prod_PAD_2 = prod_PAD_2_raw
prod_PAD_3 = prod_PAD_3_raw
prod_PAD_4 = prod_PAD_4_raw
prod_PAD_5 = prod_PAD_5_raw

prod_PAD_1.reset_index()
prod_PAD_2.reset_index()
prod_PAD_3.reset_index()
prod_PAD_4.reset_index()
prod_PAD_5.reset_index()

prod_PAD_1.columns = prod_PAD_1.iloc[0]
prod_PAD_2.columns = prod_PAD_2.iloc[0]
prod_PAD_3.columns = prod_PAD_3.iloc[0]
prod_PAD_4.columns = prod_PAD_4.iloc[0]
prod_PAD_5.columns = prod_PAD_5.iloc[0]

prod_PAD_1 = prod_PAD_1.drop(0)
prod_PAD_2 = prod_PAD_2.drop(0)
prod_PAD_3 = prod_PAD_3.drop(0)
prod_PAD_4 = prod_PAD_4.drop(0)
prod_PAD_5 = prod_PAD_5.drop(0)

In [29]:
prod_PAD_5.head(2)

,Date,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,GSL-C-2,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
1,2013-01-04 00:00:00,1364,936,936,0,427,329,329,0,98,430,377,53,557,536,23,-1,111,NaN
2,2013-01-11 00:00:00,1496,1014,1014,0,482,352,352,0,129,424,373,51,526,501,10,15,103,NaN

* all looks good here

#### 2.3.4 Cleaning U.S. refineries data - A, B, and C<a id='2.3.4_Cleaning_Refinery_Profiles_Data'></a>

#### 2.3.4B Refinery Capacity Profiles Data
Initial audit of refinery capacities data showed that we will need to separate the aggregated data columns from the underlying lower level values; we will need to extract all 3 levels separately: Top (1st) Level: 'US', Middle (2nd) Level: 'PADD', and Bottom (3rd) Level: 'State'

#### Top Level - by country, i.e. 'US'

In [30]:
# So, we are starting with 460 records in the 'Refinery_Cap_ByType' dataframe:
Refinery_Cap_ByType.shape

(460, 13)

In [31]:
# Extracting Top Level - Country Level:
US_refinery_cap_by_type = Refinery_Cap_ByType[Refinery_Cap_ByType['State']=='US']

In [32]:
# Check how many records exist at the Top Level:
US_refinery_cap_by_type.shape

(10, 13)

* After extracting the Top level data, we end up with 10 rows
* this is consistent with the count of refinery process types, as we have previously determined in the initial audit step

#### Middle Level - by PAD District, i.e. filter the 'State' column by all 5 'PAD' categories:

#### PAD-1:

In [33]:
# Extracting Middle Levels - PAD-1:
PAD_1_refinery_cap_by_type = Refinery_Cap_ByType[Refinery_Cap_ByType['State']=='PAD-1']
# Check how many records exist at PAD-1 level (should be no more than 10):
PAD_1_refinery_cap_by_type.shape

(10, 13)

#### PAD-2:

In [34]:
# Extracting Middle Levels - PAD-2:
PAD_2_refinery_cap_by_type = Refinery_Cap_ByType[Refinery_Cap_ByType['State']=='PAD-2']
# Check how many records exist at PAD-2 level (should be no more than 10):
PAD_2_refinery_cap_by_type.shape

(10, 13)

#### PAD-3:

In [35]:
# Extracting Middle Levels - PAD-3:
PAD_3_refinery_cap_by_type = Refinery_Cap_ByType[Refinery_Cap_ByType['State']=='PAD-3']
# Check how many records exist at PAD-3 level (should be no more than 10):
PAD_3_refinery_cap_by_type.shape

(10, 13)

#### PAD-4:

In [36]:
# Extracting Middle Levels - PAD-4:
PAD_4_refinery_cap_by_type = Refinery_Cap_ByType[Refinery_Cap_ByType['State']=='PAD-4']
# Check how many records exist at PAD-4 level (should be no more than 10):
PAD_4_refinery_cap_by_type.shape

(10, 13)

#### PAD-5:

In [37]:
# Extracting Middle Levels - PAD-5:
PAD_5_refinery_cap_by_type = Refinery_Cap_ByType[Refinery_Cap_ByType['State']=='PAD-5']
# Check how many records exist at PAD-5 level (should be no more than 10):
PAD_5_refinery_cap_by_type.shape

(10, 13)

#### Bottom Level - by State, i.e. filter out the 'US' and the 5 'PAD' labels from the 'State' column:

In [38]:
# Extracting Bottom Leves - State Only:
State_refinery_cap_by_type = Refinery_Cap_ByType[(Refinery_Cap_ByType['State']!='US')
                                                 &(Refinery_Cap_ByType['State']!='PAD-1')
                                                 &(Refinery_Cap_ByType['State']!='PAD-2')
                                                 &(Refinery_Cap_ByType['State']!='PAD-3')
                                                 &(Refinery_Cap_ByType['State']!='PAD-4')
                                                 &(Refinery_Cap_ByType['State']!='PAD-5')]
# Check how many records exist at state level (should be no more than 400):
State_refinery_cap_by_type.shape

(400, 13)

#### 2.3.4C Refinery Distance to Cities
Initial audit of data on distances (in miles) from refineries to cities with population over 300K showed that it contained too many NaN values. The NaN values were due to limited free access to Google's API, which capped at a certain maximum number of queries per day.
We will continue to populate the table till we collect all distance values to make up a 132 x 66 matrix, where there are 132 Refinery locations and 66 cities with over 300K population

* any cleaning will be subject to completion of this objective; if not met, we will drop this dataset and replace it with alternative, 'next best thing', such as going by PAD and State level population correlations

In [39]:
# Distance between Refineries and U.S. cities with population >300K 
Refinery_City300K_Distances.isna().sum()

Refi_ID                                   0
Refinery_City                             0
Major_City                                0
New York, New York                        0
New York, New York Distance               0
                                       ...
Casper, Wyoming, Wyoming Distance       132
Newcastle, Wyoming, Wyoming               0
Newcastle, Wyoming, Wyoming Distance    132
Evanston, Wyoming, Wyoming                0
Evanston, Wyoming, Wyoming Distance     132
Length: 267, dtype: int64

#### 2.3.5 Cleaning Crude API data<a id='2.3.5_Cleaning_Crude_API_Data'></a>

Earlier, at the Audit step, we have discovered that Crude API data set needs to be separated into location categories, similarly to what we did with the Product Pricing by PAD data.
* The Crude API data is aggregated at 3 levels: 1 - Top (the U.S.), 2 - Middle (PAD district), 3 - Bottom (group of states).
* Let's split them into 3 separate dataframes, as they would be most useful, when not mingled up with each other

In [70]:
API_by_PAD = API_by_PAD_raw
API_by_PAD.head(3)

,Date,U.S. API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),East Coast (PADD 1) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),East Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Appalachian No. 1 Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Midwest (PADD 2) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),"Indiana, Illinois, Kentucky Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)","Minnesota, Wisconsin, North and South Dakota Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)","Oklahoma, Kansas, Missouri Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)",Gulf Coast (PADD 3) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Texas Inland Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Texas Gulf Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Louisiana Gulf Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),"North Louisiana, Arkansas Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)",New Mexico Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Rocky Mountains (PADD 4) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),West Coast (PADD 5) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)
0,Date,USA,PAD-1,PAD-1-1,PAD-1-2,PAD-2,PAD-2-1,PAD-2-2,PAD-2-3,PAD-3,PAD-3-1,PAD-3-2,PAD-3-3,PAD-3-4,PAD-3-5,PAD-4,PAD-5
1,2013-01-15 00:00:00,30.75,33.99,34.21,31.62,32.79,32.31,28.68,36.58,30.33,36.65,29.34,29.88,30.69,39.13,32.7,27.24
2,2013-02-15 00:00:00,30.58,33.07,33.22,31.79,32.5,31.79,28.63,37.01,30.46,35.23,29.44,30.45,31.6,39.25,33.19,26.7

First, let's extract the 'US' level data and store it in datafrae "API_US":

In [92]:
API_US = API_by_PAD.iloc[:, 0:2]
API_US.head(3)

,Date,U.S. API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)
0,Date,USA
1,2013-01-15 00:00:00,30.75
2,2013-02-15 00:00:00,30.58

Looks good. Second, now let's extract the 'PAD' distrcit level data and store it in dataframes API_PAD_1, API_PAD_2, API_PAD_3, API_PAD_4, and API_PAD_5:

In [98]:
API_PAD_1 = API_by_PAD.iloc[:, [0,2]] # PAD-1 subset
API_PAD_2 = API_by_PAD.iloc[:, [0,5]] # PAD-2 subset
API_PAD_3 = API_by_PAD.iloc[:, [0,9]] # PAD-3 subset
API_PAD_4 = API_by_PAD.iloc[:, [0,15]] # PAD-4 subset
API_PAD_5 = API_by_PAD.iloc[:, [0,16]] # PAD-5 subset

API_PAD_1.head(3)

,Date,East Coast (PADD 1) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)
0,Date,PAD-1
1,2013-01-15 00:00:00,33.99
2,2013-02-15 00:00:00,33.07

* Finally, we will assign the remaining columns to separate dataframes with Crude APIs - for 10 groups of states in PAD districts 1, 2, and 3:
* State Group for PAD-1: API_P1_East, API_PAD_1_Appalachian, 
* State Group for PAD-2: API_P2_IN_IL_KY, API_P2_MI_WI_ND_SD, API_P2_OK_KS_MO,
* State Group for PAD-3: API_P3_TX_Inland, API_P3_TX_Gulf, API_P3_LA_Gulf, API_P3_LA_AR, API_P3_NM

In [104]:
API_P1_East = API_by_PAD.iloc[:, [0,3]] # PAD-1 State Group: East Coast
API_P1_Appalachian = API_by_PAD.iloc[:, [0,4]] # PAD-1 State Group: Appalachian

API_P2_IN_IL_KY = API_by_PAD.iloc[:, [0,6]] # PAD-2 State Group: IN, IL, and KY
API_P2_MI_WI_ND_SD = API_by_PAD.iloc[:, [0,7]] # PAD-2 State Group: WI, ND, and SD
API_P2_OK_KS_MO = API_by_PAD.iloc[:, [0,8]] # PAD-2 State Group: OK, KS, and MO

API_P3_TX_Inland = API_by_PAD.iloc[:, [0,10]] # PAD-3 State Group: TX Inland
API_P3_TX_Gulf = API_by_PAD.iloc[:, [0,11]] # PAD-3 State Group: TX Gulf Coast
API_P3_LA_Gulf = API_by_PAD.iloc[:, [0,12]] # PAD-3 State Group: LA Gulf Coast
API_P3_LA_AR = API_by_PAD.iloc[:, [0,13]] # PAD-3 State Group: North LA, AR
API_P3_NM = API_by_PAD.iloc[:, [0,14]] # PAD-3 State Group: NM

In [105]:
API_P3_TX_Inland.head(3)

,Date,Texas Inland Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)
0,Date,PAD-3-1
1,2013-01-15 00:00:00,36.65
2,2013-02-15 00:00:00,35.23

* Tested all 10 state groups, looks good.

#### 2.3.6 Cleaning Cities Population data<a id='2.3.6_Cleaning_Population_Data'></a>

* No cleaning required on the U.S. cities population ranking data at this point.

### 2.4 Handling_Missing_Values<a id='2.4_Handling_Missing_Data'></a>

#### 2.4.1 Check if there are any zero or NaN values in the crude price data<a id='2.4.1_Missing_Values_Crude_Pricing_Data'></a>

In [114]:
np.count_nonzero(crude_cost.isna())

10

In [115]:
crude_cost.tail(2)

,Date,US Total,US PADD-1,US PADD-2,US PADD-3,US PADD-4,US PADD-5,Import Total,Imp PADD-1,Imp PADD-2,Imp PADD-3,Imp PADD-4,Imp PADD-5
94,2020-11-15,41.56,45.02,41.68,41.47,39.61,41.92,38.72,43.61,35.9,39.91,36.01,42.82
95,2020-12-15,46.57,NaN,NaN,NaN,NaN,NaN,43.20,NaN,NaN,NaN,NaN,NaN

##### It looks like it's just the last row that is missing price data for December 2020 - fill in the NaN with previous month data:

In [116]:
# Backfill the NaN in Dec 2020 with the previous ones from Nov 2020
crude_cost.fillna(method='pad').tail(2)

,Date,US Total,US PADD-1,US PADD-2,US PADD-3,US PADD-4,US PADD-5,Import Total,Imp PADD-1,Imp PADD-2,Imp PADD-3,Imp PADD-4,Imp PADD-5
94,2020-11-15,41.56,45.02,41.68,41.47,39.61,41.92,38.72,43.61,35.9,39.91,36.01,42.82
95,2020-12-15,46.57,45.02,41.68,41.47,39.61,41.92,43.20,43.61,35.9,39.91,36.01,42.82

### 2.5 Categorical Features <a id='2.5_Categorial_Features'></a>

#### 2.5.1 WTI and Brent Categories<a id='2.5.1_WTI_and_Brent_Categories'></a>

In [167]:
# Melt the combined WTI and Brent pricing data into Crude Oil prices labeled
# by corresponding 'WTI' or 'Brent' categorical labels
WTI_Brent_Melt = WTI_Brent
WTI_Brent_Melt.head(3)

        Date    WTI   Brent
0 2013-01-15  94.76  112.96
1 2013-02-15  95.31  116.05
2 2013-03-15  92.94  108.47

In [168]:
WTI_Brent_Melt = pd.melt(WTI_Brent_Melt, id_vars=['Date'], var_name=['Crude_Name'], value_name='Price')
WTI_Brent_Melt.head(2)

          Date Crude_Name  Price
190 2020-11-15      Brent  42.69
191 2020-12-15      Brent  49.99

In [169]:
WTI_Brent_Melt.tail(2)

          Date Crude_Name  Price
190 2020-11-15      Brent  42.69
191 2020-12-15      Brent  49.99

#### 2.5.2 Crude Acquisition Cost Categories<a id='2.5.2_Refinery_Crude_Cost_Categories'></a>

In [187]:
Crude_Cost_Melt = crude_cost
Crude_Cost_Melt.head(2)

,Date,US Total,US PADD-1,US PADD-2,US PADD-3,US PADD-4,US PADD-5,Import Total,Imp PADD-1,Imp PADD-2,Imp PADD-3,Imp PADD-4,Imp PADD-5
0,2013-01-15,103.78,109.40,95.61,107.60,86.95,106.25,97.91,109.28,76.59,104.31,70.96,107.24
1,2013-02-15,103.75,113.15,97.03,106.64,86.94,107.11,99.23,113.32,77.83,108.15,70.15,106.95

In [188]:
# Melt the combined Product Pricing data into dataframes, labeled
# by corresponding categorical labels, which also indicate US and PAD level groupings
Crude_Cost_Melt = pd.melt(Crude_Cost_Melt, id_vars=['Date'],
                          var_name=['Crude_Source'], value_name='Price')

In [189]:
Crude_Cost_Melt.head(2)

        Date Crude_Source   Price
0 2013-01-15     US Total  103.78
1 2013-02-15     US Total  103.75

In [190]:
Crude_Cost_Melt.tail(2)

           Date Crude_Source  Price
1150 2020-11-15   Imp PADD-5  42.82
1151 2020-12-15   Imp PADD-5    NaN

#### 2.5.3 Petroleum Product Pricing Categories<a id='2.5.3_Audit_Product_Pricing_Categories'></a>

In [198]:
prod_US.head(2)

,Date,GSL-ALL,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,...,GSL-ADJ,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
1,2013-01-04 00:00:00,8385,8204,2586,2586,0,5618,4499,4498,1,...,181,1511,1374,137,4920,4474,116,331,425,1339
2,2013-01-11 00:00:00,8590,8591,2808,2808,0,5784,4935,4934,1,...,-1,1517,1376,141,4564,4142,84,338,415,1292

In [194]:
# Melt the combined Domestic and Imported Crude Oil data into dataframe, labeled
# by categorical labels, representing type of product codes and market location,
# e.g. 'GSL', 'DSL-1', etc. - for the U.S. and PAD district levels, total of 6 datasets
prod_US_melt = prod_US
prod_PAD_1_melt = prod_PAD_1
prod_PAD_2_melt = prod_PAD_2
prod_PAD_3_melt = prod_PAD_3
prod_PAD_4_melt = prod_PAD_4
prod_PAD_5_melt = prod_PAD_5

prod_US_melt = pd.melt(prod_US_melt, id_vars=['Date'], var_name=['Product'], value_name='Price')
prod_PAD_1_melt = pd.melt(prod_PAD_1_melt, id_vars=['Date'], var_name=['Product'], value_name='Price')
prod_PAD_2_melt = pd.melt(prod_PAD_2_melt, id_vars=['Date'], var_name=['Product'], value_name='Price')
prod_PAD_3_melt = pd.melt(prod_PAD_3_melt, id_vars=['Date'], var_name=['Product'], value_name='Price')
prod_PAD_4_melt = pd.melt(prod_PAD_4_melt, id_vars=['Date'], var_name=['Product'], value_name='Price')
prod_PAD_5_melt = pd.melt(prod_PAD_5_melt, id_vars=['Date'], var_name=['Product'], value_name='Price')

In [195]:
prod_US_melt.head(2)

        Date  Product Price
0 2013-01-04  GSL-ALL  8385
1 2013-01-11  GSL-ALL  8590

In [196]:
prod_US_melt.tail(2)

           Date Product Price
8498 2021-02-12     PPN  2344
8499 2021-02-19     PPN  1406

In [197]:
prod_PAD_1_melt.head(2)

        Date  Product Price
0 2013-01-04  GSL-NET  2514
1 2013-01-11  GSL-NET  2792

#### 2.5.4A US Refinery Profiles Categories<a id='2.5.4A_Refinery_Profiles_Categories'></a>

#### 2.5.4B US Refining Capacity Categories<a id='2.5.4B_Refinery_Capacity_Categories'></a>

#### 2.5.4C Refinery to City Distances by PAD<a id='2.5.4C_Refinery_to_City_Distances_by_PAD'></a>

#### 2.5.5 Crude API Categories<a id='2.5.5_Audit_Crude_API_Categories'></a>

#### 2.5.6A Population Data Categories<a id='2.5.6A_Population_Data_Categories'></a>

### 2.6 Numeric Features<a id='2.6_Numeric_Features'></a>

#### 2.6.4B US Refining Capacities <a id='2.6.4B_Refinery_Capacities'></a>

## 3. Review Distributions<a id='3_Review_Distributions'></a>

## 4. Target Features <a id='4_Target_Features'></a>

## 5. Saving_Data_and_Summary <a id='5_Saving_Data_and_Summary'></a>