## Capstone II Project - Unit 7.6 Data Wrangling

## Contents<a id='Contents'></a>
* [1. Data Sourcing and Loading](#1_Data_Sourcing_and_Loading)
  * [1.1 Importing Libraries](#1.1_Importing_Libraries_and_functions)
  * [1.2. Loading Data](#1.2_Loading_Data)
    * [1.2.1 Loading Crude Oil Pricing Data](#1.2.1_Crude_Oil_Pricing)
    * [1.2.2 Loading Crude Acquisition Cost by Refineries Data for 2013-2020](#1.2.2_Crude_Acquisition_Cost)
    * [1.2.3 Loading Prices_by_PAD for 2013-2020](#1.2.3_PAD_Product_Prices)
    * [1.2.4 Loading Refinery_Details](#1.2.4_Refineries_Details)
    * [1.2.5 Loading Crude_API_by_PAD](#1.2.5_PAD_Crude_API)
    * [1.2.6 Loading US_Census_Data](#1.2.6_US_Census_Data)
    
* [2. Data Exploring](#2_Data_Exploration)
  * [2.1 Cleaning_Data](#2.1_Cleaning_Data)
    * [2.1.1 Auditing Data](#2.1.1_Auditing_Data)
    * [2.1.2 Merging Time_Series_on_Date](#2.1.2_Merging_Time_Series)
    * [2.1.3 Cleaning_Merged_Data](#2.1.3_Cleaning_Data)
    * [2.1.4 Handling_Missing_Values](#2.1.4_Handling_Missing_Data)
  * [2.2 Categorical_Features](#2.2_Categorial_Features)
  * [2.3 Numeric_Features](#2.3_Numeric_Features)
  * [2.4 Categorical_Features](#2.2_Categorial_Features)
* [3. Adding Data_Features](#3_Adding_Data_Features)
  * [3.1 Crackspreads](#3.1_Crackspreads)
  * [3.2 Refining_Capacities](#3.2_Refining_Capacities)
  * [3.3 Refining_Yields](#3.3_Refining_Yields)
  * [3.3 Consumption_by_PAD](#3.3_Consumption_by_PAD)
* [4. Cleaning_Derived_Data](#4_Cleaning_Derived_Data)
* [5. Review Distributions](#5_Review_Distributions)
* [6. Target Features](#6_Target_Features)
* [7. Saving_Data_and_Summary](#7_Saving_Data_and_Summary)

## 1. Data Sourcing and Loading<a id='1_Data_Sourcing_and_Loading'></a>

### 1.1 Importing Libraries<a id='1.1_Importing_Libraries_and_functions'></a>

In [1]:
# importing pandas and numpy libraries, matplotlab functions
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

### 1.2 Loading Data<a id='1.2_Loading_Data'></a>
Let's start loading up some data.

#### 1.2.1 Loading Crude Oil Pricing data<a id='1.2.1_Crude_Oil_Pricing'></a>
for period 2013-2020
Source: EIA.gov website

In [2]:
# load the Excel file with the crude oil pricing - West Texas Intermediate (WTI):
WTI = pd.read_excel('../data/121A_WTI_prices_2013_2020.xlsx', header=0)

# load the Excel file with the crude oil pricing - Brent European (Brent):
Brent = pd.read_excel('../data/121B_Brent_prices_2013_2020.xlsx', header=0)

In [ ]:
WTI.info(), Brent.info()

In [ ]:
WTI.head(), Brent.tail()

#### 1.2.2 Loading Crude Acquisition Cost by Refineries Data for 2013-2020<a id='1.2.2_Crude_Acquisition_Cost'></a>
Source: EIA.gov website

In [3]:
# load Excel file with the crude oil acquisition costs by refineries - US Domesitc crude:
crude_us = pd.read_excel('../data/122A_US_crude_acq_cost_2013_2020.xlsx', header=0)

# load Excel file with the crude oil acquisition costs by refineries - Imported crude:
crude_imported = pd.read_excel('../data/122B_Import_crude_acq_cost_2013_2020.xlsx', header=0)

In [ ]:
crude_us.info(), crude_imported.info()

#### 1.2.3 Loading Prices_by_PAD for 2013-2020<a id='1.2.3_PAD_Product_Prices'></a>

In [4]:
# load Excel file with Refinery Sale Prices for Refined Products by PAD:
prod_by_PAD = pd.read_excel('../data/123_Prod_Prices_by_PAD_Jan2013_Feb2021.xlsx', header=0)

#### 1.2.4 Loading Refinery_Details<a id='1.2.4_Refineries_Details'></a>

In [6]:
# Load a List of U.S. Refineries by Capacities, Location, and PAD
Refineries_List = pd.read_excel('../data/124A_Refineries_List.xlsx', header=0)

In [7]:
# Load Refinery Processing Capacities by Type and PAD as of 2020
Refinery_Cap_ByType = pd.read_excel('../data/124B_Refinery_Cap_ByTypes_ByPAD_2020.xlsx', header=0)

In [8]:
# Load Data on distances between Refineries and cities with > 300K in population:
Refinery_City300K_Distances = pd.read_excel('../data/124C_Refinery_MajorCity_Distance.xlsx', header=0)

In [9]:
Refineries_List.head()

,Site_ID,Corporation,Company,Site_Name,PAD_Code,State,County,City,Zip_Code,Status,Optg_Capty_BPD
0,70,Royal Dutch/Shell Group,Shell Chemical LP,Saraland,PAD-3,Alabama,Mobile,Saraland,36571,1,87500
1,97,Hunt Consolidated Inc,Hunt Refining Co,Tuscaloosa,PAD-3,Alabama,Tuscaloosa County,Tuscaloosa,35401,1,48000
2,130,Goodway Refining LLC,Goodway Refining LLC,Atmore,PAD-3,Alabama,Escambia,Atmore,36502,1,4100
3,85,Marathon Petroleum Corp,Tesoro Alaska Company LLC,Kenai,PAD-5,Alaska,Kenai Peninsula Borough,Kenai,99611,1,68000
4,94,Arctic Slope Regional Corp,Petro Star Inc,Valdez,PAD-5,Alaska,Valdez-Cordova Census Area,Valdez,99686,1,55000

In [10]:
Refinery_Cap_ByType.head()

,Rec_ID,ID,Description,Type_Code,US,PADD,State,Date,Year,Op_Cap_BPSD,Idle_Cap_BPSD,Cap_BPSD,Cap_BPCD
0,1,ATMDIST-0001,Annual Operable Atmospheric Crude Oil Distilla...,ATMDIST,US,US,US,2020-06-30,2020,19634219.0,458000.0,20092219.0,18976085.0
1,2,ATMDIST-0002,Annual Operable Atmospheric Crude Oil Distilla...,ATMDIST,US,PAD-1,PAD-1,2020-06-30,2020,941100.0,350000.0,1291100.0,1224000.0
2,3,ATMDIST-0003,Annual Operable Atmospheric Crude Oil Distilla...,ATMDIST,US,PAD-1,Delaware,2020-06-30,2020,190200.0,0.0,190200.0,182200.0
3,4,ATMDIST-0004,Annual Operable Atmospheric Crude Oil Distilla...,ATMDIST,US,PAD-1,Florida,2020-06-30,2020,0.0,0.0,0.0,0.0
4,5,ATMDIST-0005,Annual Operable Atmospheric Crude Oil Distilla...,ATMDIST,US,PAD-1,Georgia,2020-06-30,2020,0.0,0.0,0.0,0.0

In [11]:
Refinery_City300K_Distances.head()

,Refi_ID,Refinery_City,Major_City,"New York, New York","New York, New York Distance","Los Angeles, California","Los Angeles, California Distance","Chicago, Illinois","Chicago, Illinois Distance","Houston, Texas",...,"Sinclair, Wyoming, Wyoming","Sinclair, Wyoming, Wyoming Distance","Cheyenne, Wyoming, Wyoming","Cheyenne, Wyoming, Wyoming Distance","Casper, Wyoming, Wyoming","Casper, Wyoming, Wyoming Distance","Newcastle, Wyoming, Wyoming","Newcastle, Wyoming, Wyoming Distance","Evanston, Wyoming, Wyoming","Evanston, Wyoming, Wyoming Distance"
0,1,"Saraland, Alabama","New York, New York","New York, New York","1,181 mi","Los Angeles, California","2,021 mi","Chicago, Illinois",906 mi,"Houston, Texas",...,"Sinclair, Wyoming, Wyoming",NaN,"Cheyenne, Wyoming, Wyoming",NaN,"Casper, Wyoming, Wyoming",NaN,"Newcastle, Wyoming, Wyoming",NaN,"Evanston, Wyoming, Wyoming",NaN
1,2,"Tuscaloosa, Alabama","Los Angeles, California","New York, New York","1,020 mi","Los Angeles, California","2,021 mi","Chicago, Illinois",716 mi,"Houston, Texas",...,"Sinclair, Wyoming, Wyoming",NaN,"Cheyenne, Wyoming, Wyoming",NaN,"Casper, Wyoming, Wyoming",NaN,"Newcastle, Wyoming, Wyoming",NaN,"Evanston, Wyoming, Wyoming",NaN
2,3,"Atmore, Alabama","Chicago, Illinois","New York, New York","1,143 mi","Los Angeles, California","2,061 mi","Chicago, Illinois",869 mi,"Houston, Texas",...,"Sinclair, Wyoming, Wyoming",NaN,"Cheyenne, Wyoming, Wyoming",NaN,"Casper, Wyoming, Wyoming",NaN,"Newcastle, Wyoming, Wyoming",NaN,"Evanston, Wyoming, Wyoming",NaN
3,4,"Kenai, Alaska","Houston, Texas","New York, New York","4,520 mi","Los Angeles, California","3,552 mi","Chicago, Illinois","3,732 mi","Houston, Texas",...,"Sinclair, Wyoming, Wyoming",NaN,"Cheyenne, Wyoming, Wyoming",NaN,"Casper, Wyoming, Wyoming",NaN,"Newcastle, Wyoming, Wyoming",NaN,"Evanston, Wyoming, Wyoming",NaN
4,5,"Valdez, Alaska","Phoenix, Arizona","New York, New York","4,299 mi","Los Angeles, California","3,331 mi","Chicago, Illinois","3,511 mi","Houston, Texas",...,"Sinclair, Wyoming, Wyoming",NaN,"Cheyenne, Wyoming, Wyoming",NaN,"Casper, Wyoming, Wyoming",NaN,"Newcastle, Wyoming, Wyoming",NaN,"Evanston, Wyoming, Wyoming",NaN

#### 1.2.5 Loading Crude_API_by_PAD<a id='1.2.5_PAD_Crude_API'></a>

In [12]:
# load Excel file with Crude APIs by PAD for 2013-2020:
API_by_PAD = pd.read_excel('../data/125_Crude_API_by_PAD_Jan2013_Nov2020.xlsx', header=0)

In [13]:
API_by_PAD.head()

,Date,U.S. API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),East Coast (PADD 1) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),East Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Appalachian No. 1 Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Midwest (PADD 2) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),"Indiana, Illinois, Kentucky Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)","Minnesota, Wisconsin, North and South Dakota Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)","Oklahoma, Kansas, Missouri Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)",Gulf Coast (PADD 3) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Texas Inland Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Texas Gulf Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Louisiana Gulf Coast Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),"North Louisiana, Arkansas Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)",New Mexico Refinery District API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),Rocky Mountains (PADD 4) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees),West Coast (PADD 5) API Gravity (Weighted Average) of Crude Oil Input to Refineries (Degrees)
0,Date,USA,PAD-1,PAD-1-1,PAD-1-2,PAD-2,PAD-2-1,PAD-2-2,PAD-2-3,PAD-3,PAD-3-1,PAD-3-2,PAD-3-3,PAD-3-4,PAD-3-5,PAD-4,PAD-5
1,2013-01-15 00:00:00,30.75,33.99,34.21,31.62,32.79,32.31,28.68,36.58,30.33,36.65,29.34,29.88,30.69,39.13,32.7,27.24
2,2013-02-15 00:00:00,30.58,33.07,33.22,31.79,32.5,31.79,28.63,37.01,30.46,35.23,29.44,30.45,31.6,39.25,33.19,26.7
3,2013-03-15 00:00:00,30.56,34.4,34.67,31.82,33.12,32.77,28.29,37.4,29.75,35.16,28.12,30.25,30.2,35.95,33.31,27.67
4,2013-04-15 00:00:00,30.22,33.87,34.13,29.6,32.51,31.91,27.92,36.56,29.38,33.61,27.67,30.21,30.68,37.09,34.2,27.52

#### 1.2.6 Loading US_Census_Data<a id='1.2.6_US_Census_Data'></a>

In [14]:
# Load Excel file with US Cities ranked by population for period Apr 2010-Jul 2019:
Pop_by_Cities = pd.read_excel('../data/126A_Population_by_City_Apr_2010_Jul_2019.xlsx', header=0)

In [15]:
# Get population by state table from the URL below
states_url = 'https://simple.wikipedia.org/w/index.php?title=List_of_U.S._states&oldid=7168473'
usa_states = pd.read_html(states_url)

In [16]:
Pop_by_Cities.head()

,Rank,Geographic_Area,State,City,City_State,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1,"New York city, New York",New York,New York,"New York, New York",8190209,8272948,8346693,8396091,8433806,8463049,8469153,8437478,8390081,8336817
1,2,"Los Angeles city, California",California,Los Angeles,"Los Angeles, California",3795512,3820876,3851202,3881622,3909901,3938568,3963226,3975788,3977596,3979576
2,3,"Chicago city, Illinois",Illinois,Chicago,"Chicago, Illinois",2697477,2708114,2719141,2725731,2727066,2724344,2716723,2711069,2701423,2693976
3,4,"Houston city, Texas",Texas,Houston,"Houston, Texas",2100280,2126032,2161593,2199391,2241826,2286908,2309544,2316750,2318573,2320268
4,5,"Phoenix city, Arizona",Arizona,Phoenix,"Phoenix, Arizona",1449038,1469796,1499274,1526491,1555445,1583690,1612199,1633560,1654675,1680992

## 2. Data Exploring<a id='2_Data_Exploration'></a>

### 2.1 Cleaning_Data <a id='2.1_Cleaning_Data'></a>

#### 2.1.1 Auditing Data <a id='2.1.1_Auditing_Data'></a>

#### Verify that the 'Date' columns in both the WTI and Brent dataframes match:

In [17]:
WTI['Date'].isin(Brent['Date']).value_counts()

True    96
Name: Date, dtype: int64

#### There are 96 non-NULL records in both files; merge them into one dataframe

In [18]:
WTI_Brent = pd.merge(WTI, Brent, how='outer', on='Date')

In [19]:
WTI_Brent.columns = ['Date', 'WTI', 'Brent']

In [20]:
WTI_Brent.head(2)

        Date    WTI   Brent
0 2013-01-15  94.76  112.96
1 2013-02-15  95.31  116.05

#### Audit Petroleum Product Pricing Data

In [5]:
prod_by_PAD.head()

,Date,Weekly U.S. Refiner and Blender Adjusted Net Production of Finished Motor Gasoline (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Finished Motor Gasoline (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Reformulated Motor Gasoline (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Finished Reformulated Motor Gasoline with Ethanol (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Other Finished Reformulated Motor Gasoline (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Conventional Motor Gasoline (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Finished Conventional Motor Gasoline with Ethanol (Thousand Barrels per Day),"Weekly U.S. Refiner and Blender Net Production of Finished Conventional Motor Gasoline, Ed 55 and Lower (Thousand Barrels per Day)","Weekly U.S. Refiner and Blender Net Production of Finished Conventional Motor Gasoline, Greater than Ed 55 (Thousand Barrels per Day)",...,Weekly U.S. Supply Adjustment of Finished Motor Gasoline (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Kerosene-Type Jet Fuel (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Commercial Kerosene-Type Jet Fuel (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Military Kerosene-Type Jet Fuel (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Distillate Fuel Oil (Thousand Barrels per Day),"Weekly U.S. Refiner and Blender Net Production of Distillate Fuel Oil, 0 to 15 ppm Sulfur (Thousand Barrels per Day)","Weekly U.S. Production of Distillate Fuel Oil, Greater than 15 to 500 ppm Sulfur (Thousand Barrels per Day)",Weekly U.S. Refiner and Blender Net Production of Distillate Fuel Oil Greater than 500 ppm Sulfur (Thousand Barrels per Day),Weekly U.S. Refiner and Blender Net Production of Residual Fuel Oil (Thousand Barrels per Day),"Weekly U.S. Refiner, Blender, and Gas Plant Net Production of Propane and Propylene (Thousand Barrels per Day)"
0,Date,GSL-ALL,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,...,GSL-ADJ,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
1,2013-01-04 00:00:00,8385,8204,2586,2586,0,5618,4499,4498,1,...,181,1511,1374,137,4920,4474,116,331,425,1339
2,2013-01-11 00:00:00,8590,8591,2808,2808,0,5784,4935,4934,1,...,-1,1517,1376,141,4564,4142,84,338,415,1292
3,2013-01-18 00:00:00,8908,8668,2865,2865,0,5802,4933,4932,1,...,240,1386,1261,126,4311,3908,59,344,352,1212
4,2013-01-25 00:00:00,9064,8885,2901,2901,0,5985,4985,4984,1,...,179,1394,1260,134,4263,3798,100,366,408,1238

In [31]:
# The table with petroleum product prices has a two-row column headings.
# We don't need the long text heading - the second coded heading is the useful one
prod_by_PAD.reset_index()
prod_by_PAD.columns = prod_by_PAD.iloc[0]
prod_by_PAD.columns
prod_by_PAD.head()

,Date,GSL-ALL,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,...,GSL-ADJ,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
0,Date,GSL-ALL,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,...,GSL-ADJ,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
1,2013-01-04 00:00:00,8385,8204,2586,2586,0,5618,4499,4498,1,...,181,1511,1374,137,4920,4474,116,331,425,1339
2,2013-01-11 00:00:00,8590,8591,2808,2808,0,5784,4935,4934,1,...,-1,1517,1376,141,4564,4142,84,338,415,1292
3,2013-01-18 00:00:00,8908,8668,2865,2865,0,5802,4933,4932,1,...,240,1386,1261,126,4311,3908,59,344,352,1212
4,2013-01-25 00:00:00,9064,8885,2901,2901,0,5985,4985,4984,1,...,179,1394,1260,134,4263,3798,100,366,408,1238

#### Verify that the 'Date' columns in both the Domestic Crude and Imported Crude dataframes match:

In [21]:
crude_us['Date'].isin(crude_imported['Date']).value_counts()

True    96
Name: Date, dtype: int64

#### 2.1.2 Merging Time_Series_on_Date <a id='2.1.2_Merging_Time_Series'></a>

####  Merge the WTI and Brent pricing dataframes them into one,  rename the long column headings:

In [22]:
crude_cost = pd.merge(crude_us, crude_imported, how='outer', on='Date')

In [23]:
crude_cost.head()

,Date,U.S. Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),East Coast (PADD 1) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),Midwest (PADD 2) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),Gulf Coast (PADD 3) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),Rocky Mountain (PADD 4) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),West Coast (PADD 5) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),U.S. Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),East Coast (PADD 1) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),Midwest (PADD 2) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),Gulf Coast (PADD 3) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),Rocky Mountain (PADD 4) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),West Coast (PADD 5) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel)
0,2013-01-15,103.78,109.40,95.61,107.60,86.95,106.25,97.91,109.28,76.59,104.31,70.96,107.24
1,2013-02-15,103.75,113.15,97.03,106.64,86.94,107.11,99.23,113.32,77.83,108.15,70.15,106.95
2,2013-03-15,103.45,107.76,97.12,107.22,83.69,105.30,99.11,103.30,81.41,106.38,73.24,107.00
3,2013-04-15,102.53,102.49,97.25,106.51,85.32,102.91,96.45,103.14,81.97,101.42,76.67,104.09
4,2013-05-15,101.98,102.42,99.19,104.31,89.02,102.43,98.50,102.56,87.97,100.77,84.74,105.09

#### 2.1.3 Cleaning The Data <a id='2.1.3_Cleaning_Data'></a>

In [24]:
crude_cost.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 95
Data columns (total 13 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Date                                                                                          96 non-null     datetime64[ns]
 1   U.S. Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel)                     96 non-null     float64
 2   East Coast (PADD 1) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel)      95 non-null     float64
 3   Midwest (PADD 2) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel)         95 non-null     float64
 4   Gulf Coast (PADD 3) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel)      95 non-null     float64
 5   Rocky Mountain (PADD 4) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel)  95 non-null     float64
 6   West Coast (PADD 5) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel)      95 non-null     float64
 7   U.S. Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel)                     96 non-null     float64
 8   East Coast (PADD 1) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel)      95 non-null     float64
 9   Midwest (PADD 2) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel)         95 non-null     float64
 10  Gulf Coast (PADD 3) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel)      95 non-null     float64
 11  Rocky Mountain (PADD 4) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel)  95 non-null     float64
 12  West Coast (PADD 5) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel)      95 non-null     float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 10.5 KB

In [25]:
crude_cost.head()

,Date,U.S. Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),East Coast (PADD 1) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),Midwest (PADD 2) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),Gulf Coast (PADD 3) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),Rocky Mountain (PADD 4) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),West Coast (PADD 5) Crude Oil Domestic Acquisition Cost by Refiners (Dollars per Barrel),U.S. Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),East Coast (PADD 1) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),Midwest (PADD 2) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),Gulf Coast (PADD 3) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),Rocky Mountain (PADD 4) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel),West Coast (PADD 5) Crude Oil Imported Acquisition Cost by Refiners (Dollars per Barrel)
0,2013-01-15,103.78,109.40,95.61,107.60,86.95,106.25,97.91,109.28,76.59,104.31,70.96,107.24
1,2013-02-15,103.75,113.15,97.03,106.64,86.94,107.11,99.23,113.32,77.83,108.15,70.15,106.95
2,2013-03-15,103.45,107.76,97.12,107.22,83.69,105.30,99.11,103.30,81.41,106.38,73.24,107.00
3,2013-04-15,102.53,102.49,97.25,106.51,85.32,102.91,96.45,103.14,81.97,101.42,76.67,104.09
4,2013-05-15,101.98,102.42,99.19,104.31,89.02,102.43,98.50,102.56,87.97,100.77,84.74,105.09

#### Rename the , rename long column headings with PAD Codes

In [26]:
crude_cost.columns = ['Date', 'US Total', 'US PADD-1', 'US PADD-2', 'US PADD-3', 'US PADD-4', 'US PADD-5', 'Import Total',
              'Imp PADD-1', 'Imp PADD-2', 'Imp PADD-3', 'Imp PADD-4', 'Imp PADD-5']

In [27]:
crude_cost.head()

,Date,US Total,US PADD-1,US PADD-2,US PADD-3,US PADD-4,US PADD-5,Import Total,Imp PADD-1,Imp PADD-2,Imp PADD-3,Imp PADD-4,Imp PADD-5
0,2013-01-15,103.78,109.40,95.61,107.60,86.95,106.25,97.91,109.28,76.59,104.31,70.96,107.24
1,2013-02-15,103.75,113.15,97.03,106.64,86.94,107.11,99.23,113.32,77.83,108.15,70.15,106.95
2,2013-03-15,103.45,107.76,97.12,107.22,83.69,105.30,99.11,103.30,81.41,106.38,73.24,107.00
3,2013-04-15,102.53,102.49,97.25,106.51,85.32,102.91,96.45,103.14,81.97,101.42,76.67,104.09
4,2013-05-15,101.98,102.42,99.19,104.31,89.02,102.43,98.50,102.56,87.97,100.77,84.74,105.09

#### Cleaning the data on Petroleum Product Pricing by PAD

In [32]:
# Removing the long text heading and replacing it the coded row
prod_by_PAD = prod_by_PAD.drop(0)
prod_by_PAD.head()

,Date,GSL-ALL,GSL-NET,GSL-R,GSL-R-1,GSL-R-2,GSL-C,GSL-C-1,GSL-C-1-1,GSL-C-1-2,...,GSL-ADJ,KER,KER-Comm,KER-Milit,DSL,DSL-1,DSL-2,DSL-3,RSD,PPN
1,2013-01-04 00:00:00,8385,8204,2586,2586,0,5618,4499,4498,1,...,181,1511,1374,137,4920,4474,116,331,425,1339
2,2013-01-11 00:00:00,8590,8591,2808,2808,0,5784,4935,4934,1,...,-1,1517,1376,141,4564,4142,84,338,415,1292
3,2013-01-18 00:00:00,8908,8668,2865,2865,0,5802,4933,4932,1,...,240,1386,1261,126,4311,3908,59,344,352,1212
4,2013-01-25 00:00:00,9064,8885,2901,2901,0,5985,4985,4984,1,...,179,1394,1260,134,4263,3798,100,366,408,1238
5,2013-02-01 00:00:00,8761,8820,2847,2847,0,5974,4909,4909,1,...,-59,1393,1301,91,4472,4015,104,353,372,1234

#### 2.1.4 Handling_Missing_Values<a id='2.1.4_Handling_Missing_Data'></a>

#### Check if there are any zero or NaN values in the price data:

In [28]:
np.count_nonzero(crude_cost.isna())

10

In [29]:
crude_cost.tail(2)

,Date,US Total,US PADD-1,US PADD-2,US PADD-3,US PADD-4,US PADD-5,Import Total,Imp PADD-1,Imp PADD-2,Imp PADD-3,Imp PADD-4,Imp PADD-5
94,2020-11-15,41.56,45.02,41.68,41.47,39.61,41.92,38.72,43.61,35.9,39.91,36.01,42.82
95,2020-12-15,46.57,NaN,NaN,NaN,NaN,NaN,43.20,NaN,NaN,NaN,NaN,NaN

#### It looks like it's just the last row that is missing price data for December 2020 - fill in the NaN with previous month data:

In [30]:
# Backfill the NaN in Dec 2020 with the previous ones from Nov 2020
crude_cost.fillna(method='pad').tail(2)

,Date,US Total,US PADD-1,US PADD-2,US PADD-3,US PADD-4,US PADD-5,Import Total,Imp PADD-1,Imp PADD-2,Imp PADD-3,Imp PADD-4,Imp PADD-5
94,2020-11-15,41.56,45.02,41.68,41.47,39.61,41.92,38.72,43.61,35.9,39.91,36.01,42.82
95,2020-12-15,46.57,45.02,41.68,41.47,39.61,41.92,43.20,43.61,35.9,39.91,36.01,42.82

### 2.2 Categorical_Features <a id='2.2_Categorial_Features'></a>

### 2.3 Numeric_Features<a id='2.3_Numeric_Features'></a>

### 2.4 Categorical_Features <a id='2.2_Categorial_Features'></a>

## 3. Adding Data_Features <a id='3_Adding_Data_Features'></a>

### 3.1 Crackspreads<a id='3.1_Crackspreads'></a>

### 3.2 Refining_Capacities <a id='3.2_Refining_Capacities'></a>

### 3.3 Refining_Yields <a id='3.3_Refining_Yields'></a>

### 3.4 Consumption_by_PAD <a id='3.4_Consumption_by_PAD'></a>

## 4. Cleaning_Derived_Data <a id='4_Cleaning_Derived_Data'></a>

## 5. Review Distributions<a id='5_Review_Distributions'></a>

## 6. Target Features <a id='6_Target_Features'></a>

## 7. Saving_Data_and_Summary <a id='7_Saving_Data_and_Summary'></a>